.app{
    border: 1px solid rgb(45,45,45); 
    width: 360px;
    height: 400px;
    height: 540px;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scroll-behavior: none;
}
.app::-webkit-scrollbar{
    display: none;
}
